.eventcard {
  width: 320px;
  height: 498px;
  padding: 24px;
  position: relative;
  border-radius: 12px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(
      180deg,
      rgba(210, 165, 255, 0.2375) 0%,
      rgba(205, 72, 204, 0.25) 100%
    );
  backdrop-filter: blur(4px);
}
