.eventcard {
  padding: 24px;
  position: relative;
  margin-bottom: 16px;
  border-radius: 12px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(
      180deg,
      rgba(210, 165, 255, 0.2375) 0%,
      rgba(205, 72, 204, 0.25) 100%
    );
  backdrop-filter: blur(4px);
}

@media (min-width: 768px) {
  .eventcard {
    width: 35%;
    margin-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .eventcard {
    width: 35%;
  }
}
@media (min-width: 1280px) {
  .eventcard {
    width: 25%;
    max-width: 400px;
  }
}
